.menu-container {
    border: none;
    background-color: aliceblue;
    border-radius: 15px 15px;
    min-width: 40px;
    margin: 20px;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.menu-sidebar img {
    width: 15px;
    display: block;
    margin: 15px auto;
}

.menu-sidebar:last-child {
    margin-top: auto;
}



